@import "../../styles/styles.scss";

.what_we_offer {
  min-height: 80vh;

  @include phone {
    height: 100%;
  }

  span {
    @include slanted_text;
    background: $gray;
    padding: 0 3.5rem 0 1rem;

    @include phone {
      padding: 0.2rem 1rem 0.2rem 0.5rem;
      font-weight: bold;
      margin-left: -5px;
    }
  }

  &__card_item {
    display: grid;
    grid-template-rows: repeat(3, auto);

    @include tablet {
      width: 330px;
    }

    img {
      margin: auto;
      height: 200px;
      width: 100%;
    }
  }
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 0.6rem));
  margin: auto;
  justify-content: space-between;
  gap: 1rem;

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include phone {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  h3,
  p {
    text-align: center;
    margin: auto;
  }

  h3 {
    @include flex_center;
    color: $gray-dark;
    font-size: 2rem;
    height: 6.5rem;

    @include phone {
      font-size: 1.6rem;
      width: 80%;
    }

    @include tablet {
      height: 100px;
      font-size: 1.8rem;
    }
  }

  p {
    font-size: 1.3rem;
    width: 65%;
    margin-top: 0.5rem;
    color: $blue-3;
    font-weight: 300;

    @include tablet {
      width: 100%;
    }
  }
}
