@import "../../styles/styles.scss";

.sidebar_filters {
  display: grid;
  gap: 1.5rem;
  width: 100%;

  &__title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    margin: 0;
    text-align: left;
  }

  &__form {
    background: #e0e0e0;
    border-radius: 10px;
    display: grid;
    gap: 0.5rem;
    padding: 1rem;

    &_filter {
      h3 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
      }
    }

    &_group {
      input {
        display: inline-block;
        margin: 0 0.5rem 0 1.2rem;
      }

      label {
        font-weight: 400;
      }
    }
  }
}
