@import "../styles.scss";

.courses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../../assets/header_background_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120vh;

  @include phone {
    height: 100%;
    background: url("../../assets/header_background_phone.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include tablet {
    height: 100%;
    background: url("../../assets/header_background_tablet.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.navbar {
  background-position: 0 -1rem;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 200;

  @include tablet {
    background-position: 0 -3rem;
  }
}

.container {
  @include base;
  align-items: center;
  display: grid;
  margin: 2rem auto 3rem;
  z-index: 0;

  @include tablet {
    height: 100%;
    margin: 5rem auto 9rem;
  }

  @include phone {
    align-items: flex-start;
    margin: 5rem auto 3rem;
    min-height: 50vh;
  }

  &__content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 15rem calc(100% - 16rem);
    z-index: 400;

    @include tablet {
      grid-template-columns: 12rem calc(100% - 12rem);
    }

    @include phone {
      grid-template-columns: 100%;
      gap: 0;
      max-width: 334px;
    }
  }
}

.footer {
  width: 100%;
  z-index: 100;
}
