@import "../../styles/styles.scss";

.footer__container {
  background: $primaryColor;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  @include phone {
    padding: 4rem 0;
  }

  @include tablet {
    padding: 3rem 0;
  }
}
