@import "../../styles/styles.scss";

.courses {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__form {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: calc(100% - 13.5rem) 12rem;

    @include phone {
      gap: 0.2rem;
      grid-template-columns: 88%;
      justify-content: flex-end;
    }

    @include tablet {
      gap: 0.3rem;
      grid-template-columns: calc(100% - 5.3rem) 5rem;
    }

    &_button {
      background: #084887;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      width: 100%;

      @include phone {
        display: none;
      }
    }

    &_search {
      position: relative;

      &_logo,
      &_select {
        position: absolute;
      }

      &_logo {
        left: 0.5rem;
        top: 0.5rem;
      }

      &_select,
      &_input {
        border: none;
        font-size: 1rem;
        outline: none;
      }

      &_select {
        background: #b0bec5;
        border-radius: 0px 10px 10px 0px;
        padding: 0.3rem;
        right: 0;
        height: 100%;

        @include phone {
          font-size: 0.85rem;
        }
      }

      &_input {
        background: #e0e0e0;
        border-radius: 10px;
        padding: 0.3rem 9.5rem 0.3rem 2.2rem;
        width: 100%;

        @include phone {
          padding-right: 8.3rem;
        }
      }
    }
  }

  &__results {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, calc(33% - 0.25rem));
    height: 25rem;
    overflow-y: scroll;

    @include phone {
      grid-template-columns: repeat(2, calc(50% - 0.3rem));
      overflow: hidden;
      height: unset;
    }

    @include tablet {
      grid-template-columns: repeat(2, calc(50% - 0.25rem));
    }

    &_item {
      height: 19.6rem;
      align-items: center;
      background: #d9d9d9;
      display: grid;
      grid-template-rows: 9rem 4.5rem 2rem 2rem 2rem;
      text-align: center;
      border-radius: 0 0 10px 10px;
      overflow: hidden;

      @include phone {
        grid-template-rows: 9rem 3.7rem 1.6rem 2rem;
        height: 18rem;
      }
    }

    small {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
    }

    img {
      border: 1px solid #d9d9d9;
      height: 9rem;
      object-fit: cover;
      width: 100%;
    }

    h3,
    p {
      margin: 0;
      color: #455a64;
    }

    h3 {
      font-size: 1.1rem;
      line-height: 1.3rem;
      font-weight: 700;
      width: 95%;
      margin: auto;

      @include phone {
        font-size: 1rem;
        line-height: 1rem;
      }

      @include tablet {
        font-size: 1rem;
      }
    }

    p {
      font-size: 0.9rem;
      font-weight: 400;

      @include phone {
        margin-bottom: 0;
      }
    }

    button {
      background: #084887;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.2rem 0;

      @include phone {
        font-size: 0.9rem;
      }

      @include tablet {
        font-size: 1rem;
      }
    }
  }
}
