@import "../../styles/styles.scss";

.footer {
  width: 90%;
  max-width: 1024px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;

  @include phone {
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
    gap: 1rem;
    max-width: 334px;
  }

  @include tablet {
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
  }

  &__logo {
    width: 8rem;
    height: 2.1rem;

    img {
      width: 100%;
    }
  }

  &__contact {
    a {
      font-weight: bold;
      line-height: 0;

      @include tablet {
        display: block;
      }
    }
  }

  &__socialMedia,
  img {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__socialMedia {
    display: flex;
    gap: 1.5rem;

    @include phone {
      justify-content: center;
    }
  }

  &__address {
    display: none;

    p,
    span {
      color: #fff;
    }

    @include phone {
      display: block;
      grid-column: 1 / -1;
      order: 3;
    }

    @include tablet {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__country_name {
    font-weight: bold;
    margin: 0 auto 0.4rem 0;
  }
}
